{% extends "base.html" %}



{% block content %}

        <div class="aboutcontainer">
            <div class="aboutPhoto">
                    <img src="../static/img/profilePicture.jpg" width="400px" height="500px" alt="glamourthumb">
            </div>
            <div class="about_summary">
                <p>Stephen Jakob is a Fine Art glamour and fashion photographer from the Pacific Northwest.</p>
            </div>
            <div class="aboutDesc">
                <p class="aboutText">Hello! I’m so glad you’re here. I’m Stephen, the man behind the camera. I’ve been practicing photography for the better part of a decade, 
                specializing in portrait work. I study and take inspiration from the great painters of old, using similar lighting techniques, such as chiaroscuro, that 
                they used to create their masterpieces. 
                </p>
                <p class="aboutText">
                I mix those skills with modern tools to create the best possible portraits that I can, giving you, the subject, the best possible experience that I can. 
                </p>
                <p class="aboutText">
                I grew up in Salem, having resided here for all my life. The Mid-Willamette Valley is my home, and my refuge. I spend my free time traveling and exploring the 
                forests and mountains of our beautiful valley. 
                </p>
                <p class="aboutText">
                I look forward to the opportunity to capture your perfect portrait! Feel free to message me with any comments or questions, or to book a consult!  </p>
                </p>
                <button type="button" class="btn btn-light">Lets Talk</button>
            </div>
        </div>
{% endblock %}
