{%load static%}

<div class="wrap">
    <div>
        <ul class="menu">
            <a class = "Link" href="{%url 'portfolio'%}"><li>Portfolio</li></a>
            <a class = "Link"  href="{%url 'printshop'%}"><li>Print Shop</li></a>
            <a class = "Link"  href="{%url 'journal'%}"><li>Journal</li></a>
            <a class = "Link"  href="{%url 'rates'%}"><li>Rates</li></a>
            <a class = "Link"  href="{%url 'about'%}"><li>About Stephen</li></a>
            <a class = "Link"  href="{%url 'contact'%}"><li>Contact</li></a>
        </ul>
    </div>
    <div class="siteTitle">
        <ul>
            <li><a class="Link" href="{%url 'index'%}">Stephen Jakob Photography</a></li></ul>
    </div>
</div>