{% extends "base.html" %}

{% block content %}

<div class="ratescontainer">
    <div class="ratesTitle">
       <p>Photo sessions starting at $200</p>
    </div>
    <div class="ratesDesc">
        <p>
            A minimum hour of shooting in the location of your choice. Indoor studios are available, at a small additional cost depending on where you choose. 
            After your session you’ll receive your high resolution digital photos in a personal online gallery. </p>
    </div>
    <div class="tfpTitle">
        <p>Limited TFP sessions are available</p>
     </div>
     <div class="tfpDesc">
        <p>
            TFP, or Time for Photos, is a barter like exchange of my time for yours. Do you want to have beautiful photos taken, and have a skill we can exchange for?
            Contact me and we might be able to make an exchange! 
        </p>
         <button type="button" class="btn btn-light">Lets Talk</button>
     </div>
    <div class="photo">
        <img src="../static/img/backgroundAbby.jpg" alt="glamourthumb">
    </div>
</div>

{% endblock %}
