{% extends "base.html" %}

{% block content %}
<div class="container">
    <section id="gallery">
        <div class="container">
            <div class="flex-container">
                <!-- PHOTO CONTAINER 1-->
                <div class="photocontainer">
                    <div class="photo">
                        <img src="../static/img/ferrall_test.jpg" width="400px" height="500px" alt="glamourthumb">
                    </div>
                </div>
                <!--END PHOTO CONTAINER 1-->
            </div>
        </div>
    </section>
    <div class="testimony_summary">
        <p class="about_summary">Kaylee Farrell-</p>
    </div>
    <!--End Summary section-->
    <div class="testimony">
        <p class="descText">
            “I  really enjoyed how Stephen was able and patient enough to work with my four kids. The photos were a mix of candid and posed which I loved. We
             went to my favorite park, Ankeny Hill Wildlife Refuge, which was out of the way. It was just a fun day that resulted in great pictures.”           
        </p>
    </div>
</div>
<div class="container">
    <section id="gallery">
        <div class="container">
            <div class="flex-container">
                <!-- PHOTO CONTAINER 1-->
                <div class="photocontainer">
                    <div class="photo">
                        <img src="../static/img/profilePicture.jpg" width="400px" height="500px" alt="glamourthumb">
                    </div>
                </div>
                <!--END PHOTO CONTAINER 1-->
            </div>
        </div>
    </section>
    <div class="testimony_summary">
        <p class="about_summary">Stephen Jakob is a Fine Art glamour and fashion photographer from the Pacific Northwest.</p>
    </div>
    <!--End Summary section-->
    <div class="testimony">
        <p class="descText">Hello! I’m so glad you’re here. I’m Stephen, the man behind the camera. I’ve been practicing photography for the better part of a decade, 
        specializing in portrait work. I study and take inspiration from the great painters of old, using similar lighting techniques, such as chiaroscuro, that 
        they used to create their masterpieces. 
        </p>
    </div>
</div>
<div class="container">
    <section id="gallery">
        <div class="container">
            <div class="flex-container">
                <!-- PHOTO CONTAINER 1-->
                <div class="photocontainer">
                    <div class="photo">
                        <img src="../static/img/profilePicture.jpg" width="400px" height="500px" alt="glamourthumb">
                    </div>
                </div>
                <!--END PHOTO CONTAINER 1-->
            </div>
        </div>
    </section>
    <div class="testimony_summary">
        <p class="about_summary">Stephen Jakob is a Fine Art glamour and fashion photographer from the Pacific Northwest.</p>
    </div>
    <!--End Summary section-->
    <div class="testimony">
        <p class="descText">Hello! I’m so glad you’re here. I’m Stephen, the man behind the camera. I’ve been practicing photography for the better part of a decade, 
        specializing in portrait work. I study and take inspiration from the great painters of old, using similar lighting techniques, such as chiaroscuro, that 
        they used to create their masterpieces. 
        </p>
    </div>
</div>
<div class="container">
    <section id="gallery">
        <div class="container">
            <div class="flex-container">
                <!-- PHOTO CONTAINER 1-->
                <div class="photocontainer">
                    <div class="photo">
                        <img src="../static/img/profilePicture.jpg" width="400px" height="500px" alt="glamourthumb">
                    </div>
                </div>
                <!--END PHOTO CONTAINER 1-->
            </div>
        </div>
    </section>
    <div class="testimony_summary">
        <p class="about_summary">Stephen Jakob is a Fine Art glamour and fashion photographer from the Pacific Northwest.</p>
    </div>
    <!--End Summary section-->
    <div class="testimony">
        <p class="descText">Hello! I’m so glad you’re here. I’m Stephen, the man behind the camera. I’ve been practicing photography for the better part of a decade, 
        specializing in portrait work. I study and take inspiration from the great painters of old, using similar lighting techniques, such as chiaroscuro, that 
        they used to create their masterpieces. 
        </p>
    </div>
</div>
{% endblock %}